* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.reservation {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 90%;
  z-index: 1; /* Sit on top */
  border: 2px solid black;
  margin-left: 5%;
  padding: 20px;
  padding-left: 200px;
  padding-right: 60px;
  overflow: auto;
  background-color: white;
  max-height: fit-content;
}

.reserveimageholder {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
}

.reserveimage {
  display: flex;
  margin-right: 5%;
}

.reserveimage > img {
  width: 100%;
  height: auto;
  align-self: center;
}

.reserveimageholder > button {
  align-self: flex-start;
  font-size: 2.5rem;
  font-weight: bolder;
  border: none;
  background: none;
  padding: 0;
  margin-top: -0.5%;
}

.reservenameholder > h2 {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
  align-self: center;
}

.reservenameholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.625rem;
}

.reservenamedetail {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
  column-gap: -5px;
  text-align: left;
}

.reservedateholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.625rem;
}

.reservedateholder > h2 {
  font-size: 25px;
  margin-bottom: 0.625rem;
  align-self: center;
}

.reservedate {
  list-style: none;
  padding-right: 20px;
}

.addreservation {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

.addreservation > h2 {
  font-size: 25px;
  margin-bottom: 0.625rem;
  align-self: center;
}

.addreservation > input {
  width: 50%;
  margin-bottom: 0.9375rem;
  border: 2px solid black;
}

.addreservation > input::placeholder {
  font-weight: 400;
  padding-left: 5px;
}

.addreservation > button {
  width: 45%;
  margin-bottom: 0.9375rem;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 600;
}

/* used only to check which button where fired */
.buttoncontainer {
  margin-top: 300px;
  margin-left: 400px;
  margin-right: 400px;
  display: grid;
  grid-template-columns: 50% 50%;
}
